#ok1{
	position: absolute;
	background-color: red;
	height: 10px;
	weight: 10px;
	margin: 20 
	top: 2px;
}
#ok2{
	position: absolute;
	background-color: blue;
	height: 10px;
	weight: 10px;
	top: 3px;
	left: inherit;
	border-top: 5px;

}
#ok3{
	position: absolute;
	background-color: green;
	height: 10px;
	weight: 10px;
}
# OK1{
	position: absolute;
	background-color: red;
	height: 10px;
	weight: 10px;
	margin: 
	top: 2px;
}
#ok4{
	position: absolute;
	background-color: blue;
	height: 50px;
	weight: 10px;
	top: 5px;
	left: inherit;
	border-top: 5px;
	float: 5px

}
#ok6{
	position: absolute;
	background-color: yellow;
	height: 10px;
	weight: 10px;
	top: 5px
	float: 5 ;
}
#ok6{
	position: absolute;
	background-color: green;
	height: 10px;
	weight: 10px;
}